
<!-- <label>equation: <input type="text" id="equation"></label> -->
<!-- <label>amount:<input type="number" id="calculator-amount" min="0"></label> -->
<!-- <div class="calculator"> -->
<button class="button-calc" onclick="clearAmount()">AC</button>
<!-- <button class="button-calc" onclick="clearAmount()">C</button> -->
<button class="button-calc" onclick="">10%</button>
<button class="button-calc" onclick="">8%</button>
<button class="button-calc" onclick="divideAmount()">/</button>
<!-- <br> -->
<button class="button-calc" onclick="appendAmount('7')">7</button>
<button class="button-calc" onclick="appendAmount('8')">8</button>
<button class="button-calc" onclick="appendAmount('9')">9</button>
<button class="button-calc" onclick="multipleAmount()">*</button>
<!-- <br> -->
<button class="button-calc" onclick="appendAmount('4')">4</button>
<button class="button-calc" onclick="appendAmount('5')">5</button>
<button class="button-calc" onclick="appendAmount('6')">6</button>
<button class="button-calc" onclick="minusAmount()">-</button>
<!-- <br> -->
<button class="button-calc" onclick="appendAmount('1')">1</button>
<button class="button-calc" onclick="appendAmount('2')">2</button>
<button class="button-calc" onclick="appendAmount('3')">3</button>
<button class="button-calc" onclick="plusAmount()">+</button>
<!-- <br> -->
<button class="button-calc" onclick="appendAmount('00')">00</button>
<button class="button-calc" onclick="appendAmount('0')">0</button>
<button class="button-calc" onclick="backAmount()">&#8592;</button>
<button class="button-calc" onclick="calcAmount()">=</button>
<!-- </div> -->